@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
code {
  font-family: "Mulish", sans-serif;
  background-color: #f2f2f2;
  height: 200vh;
  width: 100%;
  line-height: 1.4;
}

h1,
h2,
h3,
p {
  margin: 0;
}
