@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Satisfy&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Satisfy", cursive;
  background-color: #262223;
  height: 100vh;
  width: 100%;
}

code {
  font-family: "Satisfy", cursive;
}
