.landinghero__container {
  height: 100vh;
  width: 100%;
}

.landinghero__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.landinghero__primarytitlewrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.landinghero__primarytitle {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.landinghero__wave {
  font-size: 6rem;
  animation: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.landinghero__heronamewrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.landinghero__heroname {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.landinghero__secondarytitlewrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.landinghero__secondarytitle {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.landinghero__herotyperwrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

@media screen and (max-width: 812px) {
  .landinghero__primarytitlewrapper {
    width: 100%;
    justify-content: center;
  }

  .landinghero__primarytitle {
    font-size: 4rem;
  }

  .landinghero__wave {
    font-size: 3rem;
  }

  .landinghero__heronamewrapper {
    width: 100%;
    justify-content: center;
  }

  .landinghero__heroname {
    font-size: 1.5rem;
  }

  .landinghero__heronamelogo {
    padding: 0 5px;
  }

  .landinghero__secondarytitlewrapper {
    width: 100%;
  }

  .landinghero__secondarytitle {
    font-size: 1.5rem;
  }

  .landinghero__secondarytitleprof {
    padding: 0 5px;
  }
}
