.landinghero__container {
  text-align: center;
  padding: 15em 0;
  height: 100vh;
  width: 100%;
  background: #f2f2f2;
}

.landinghero__wrapper {
  width: 85%;
  height: 100%;
  max-width: 65em;
  margin: 0 auto;
}

.landinghero__primarytitle {
  font-size: 4rem;
  font-weight: 600;
  color: #262223;
}

.landinghero__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #262223;
}

.landinghero__primarytitle-0 {
  font-size: 2rem;
  font-weight: 600;
  color: #262223;
}

.landinghero__interest {
  font-size: 3rem;
  font-weight: 600;
  color: #f2811d;
  transition: 0.4s;
  display: inline-block;
}

@supports (background-blend-mode: multiply) {
  .landinghero__container {
    background-image: var(--backgroundinterestImage),
      radial-gradient(#262223, #262223, #262223);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .landinghero__primarytitle {
    color: #f2f2f2;
  }

  .landinghero__subtitle {
    color: #f2f2f2;
  }

  .landinghero__primarytitle-0 {
    color: #f2f2f2;
  }
}
