.landingherointerest__wrapper {
  position: relative;
}

.landingherointerest__wrapper .landingherointerest__interest {
  width: 200px;
  height: 200px;
  background: #f2811d;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(225, 225, 225, 0.2);
  z-index: 100;
  top: var(--intop);
  left: var(--inleft);
}

.landingherointerest__wrapper .landingherointerest__interest h2 {
  color: #f2f2f2;
  font-size: 2rem;
  font-style: normal;
  position: absolute;
  top: var(--h2top);
  left: var(--h2left);
}

.landingherointerest__wrapper .landingherointerest__animationcontainer {
  position: relative;
}

.landingherointerest__wrapper
  .landingherointerest__animationcontainer
  .landingherointerest__animationcontainerbox {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: var(--amitop);
  left: var(--amileft);
}

.landingherointerest__wrapper
  .landingherointerest__animationcontainer
  .landingherointerest__animationcontainerbox
  span {
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
