.navbar__container {
  height: 100px;
  width: 100%;
  padding: 0 20px;
}

.navbar__logo {
  line-height: 100px;
  float: left;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
  color: #262223;
}

.navbar__menu {
  float: right;
  line-height: 100px;
}

.navbar__menuitem {
  color: #262223;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  outline: none;
  font-weight: 600;
  transition: 0.4s;
}

.navbar__menuitem--active {
  color: #f2811d;
  border-bottom: 1px solid #f2811d;
}

.navbar__showmenubtn,
.navbar__closemenubtn {
  transition: 0.4s;
  color: #262223;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.navbar__showmenubtn {
  float: right;
  line-height: 100px;
}

.navbar__menuitem:hover,
.navbar__showmenubtn:hover,
.navbar__closemenubtn:hover {
  color: #f2811d;
}

#navbar-chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 812px) {
  .navbar__logo {
    font-size: 1.5rem;
  }

  .navbar__showmenubtn,
  .navbar__closemenubtn {
    display: block;
  }

  .navbar__menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0;
    line-height: normal;
    transition: 0.7s;
    opacity: 0.8;
  }

  .navbar__menuitem {
    display: block;
    color: #262223;
    padding: 20px;
  }

  .navbar__menuitem--active {
    color: #f2811d;
    border: none;
  }

  .navbar__closemenubtn {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .navbar__menu-open {
    right: 0;
  }

  .navbar__showmenubtn-display {
    display: none;
  }
}
