.organisationcard__container {
  position: relative;
  height: 200px;
  width: 200px;
  background: #262223;
  margin-top: 10px;
  margin-left: 10px;
}

.organisationcard__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.organisationcard__imgbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  background: #f2f2f2;
  border: 4px solid #262223;
}

.organisationcard__container
  .organisationcard__wrapper:hover
  .organisationcard__imgbox {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  transition: 0.3s ease-in-out;
  background: #f2f2f2;
}

.organisationcard__container
  .organisationcard__wrapper
  .organisationcard__imgbox
  img {
  max-width: 100px;
  transition: 1s ease-in-out;
}

.organisationcard__container
  .organisationcard__wrapper:hover
  .organisationcard__imgbox
  img {
  max-width: 75px;
}

.organisationcard__content {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
}

.organisationcard__content h1 {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #f2f2f2;
  padding: 5px 5px;
  font-weight: 600;
}

.organisationcard__content h3 {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #f2f2f2;
  padding: 5px 5px;
  font-weight: 600;
}

.organisationcard__content a {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  font-size: 0.5rem;
  background: #f2f2f2;
  text-decoration: none;
  color: #262223;
  font-weight: 600;
  border: 4px solid #262223;
  text-transform: capitalize;
}
