.herosection__schoolhero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  padding: 20px 0;
}

.schoolhero__container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schoolhero__leftwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.schoolhero__rightwrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-height: 300px;
  flex-flow: row wrap;
  overflow-y: auto;
  padding: 10px;
  border: 4px solid #262223;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.schoolhero__rightwrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.schoolhero__leftwrapper h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-weight: 600;
}

@media screen and (max-width: 812px) {
  .schoolhero__container {
    width: 100%;
    flex-flow: row wrap;
  }

  .schoolhero__rightwrapper {
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .schoolhero__leftwrapper h1 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}
