.scrolldown__container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 4em;
}

.scrolldown__mouse {
  width: 26px;
  height: 40px;
  position: relative;
  top: 10px;
  right: 0;
  border-radius: 18px;
  border: 2px solid #262223;
}

.scrolldown__mousebutton {
  background-color: #262223;
  width: 4px;
  height: 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -2px;
  animation: mouse-scroll 1s infinite alternate;
}

.scrolldown__infotext {
  margin-top: -30px;
  margin-left: 40px;
  color: #262223;
  font-size: 1rem;
  line-height: 1em;
}

@keyframes mouse-scroll {
  to {
    transform: translate(0, 6px) scale(1, 0.8);
  }
}
